@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --primary:#5189F7 ;
    --secondary:#25282D ;
    --text:#ECEDEE;
    --bg: #444851;
}
footer{
    width: 100%;
    height: 90vh !important;
    background-color: #153B87;
    color: var(--text) !important;
    /* border-top-left-radius:125 px; */
    font-size:18px;
    line-height:20px;
}
footer .container{
    height: 100% !important;
    width: 85% !important;
    margin-inline: auto !important;
}
footer .col .logo{
    width: 5.5rem;
    height: 4.5rem; 
}
.btn-wrapper img{
    width: 3.8rem !important;
    margin-top: 1.62rem !important;
    margin-right: -1.5rem !important;
}
footer #col{
    margin-top: -14rem !important;
}
#col{
    margin-top: 2rem !important;
}
.footer-dropdown{
    margin-top: -2rem !important;
    margin-bottom: 1rem !important;
}
/* footer li a{
    color: #191717;
} */
.Social-platforms a{
    background-color: var(--primary);
    /* color: #191717; */
}

/* footer .phone .text{
    color: #191717;
} */
footer .phone span{
    color: #FDF4EB;
}
footer p{
    color: var(--text);
}
.footer-link{
    margin-top: -5rem !important;
}
/* footer .copyright .text {
    color: #FFFFFF;
}
footer .copyright span{
    color: #FFFFFF;
} */
footer hr{ 
    border: 1px solid #EA9337;
    /* color: #FFFFFF; */
}
footer ul li{
    border-bottom: 2px solid orange;
    width: fit-content;
}
