@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100% !important;
    height: 100vh !important;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
}

nav{
    height: 100vh !important;
    width: 15% !important;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #444851;
}
.list-span{
    background-color: #EA9337;
    color: #ECEDEE;
}
main{
    width: 83% !important;
    height: 100vh !important;
    margin-top: 2rem !important;
}